In [70]:
import pandas as pd
from pymongo import MongoClient

# MongoDB connection string
connection_string = "mongodb+srv://ReapredatoR:tkSXV9yiREji1Kcn@mongodbprojectmalinga.8viv4al.mongodb.net/?retryWrites=true&w=majority&appName=MongoDBprojectMalinga"
# Create a MongoClient object

client = MongoClient(connection_string)
db = client["Amazon_Database"]

In [71]:
# Fetch data from MongoDB collection
customers_collection = db.customers
customers_data = customers_collection.find()

# Convert MongoDB data to a list of dictionaries
data_list = list(customers_data)

In [72]:
# Import necessary libraries
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("MongoDB Analysis") \
    .getOrCreate()

# Convert the list of dictionaries to DataFrame
df = spark.createDataFrame(data_list)

# Show the first few rows of the DataFrame
df.show()

24/05/14 20:36:03 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---+-------------------+------+---+--------------------+--------------------+--------------------+--------------------+
|Age|           Customer|Gender|_id|           addresses|      current_orders|        phone_number|recommended_products|
+---+-------------------+------+---+--------------------+--------------------+--------------------+--------------------+
| 51|     Gunner Ferrell|     M| C1|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 30|       Lillie Costa|     F| C2|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 44|     Raelynn Dodson|     F| C3|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 43|      Yazmin Hughes|     F| C4|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 28|       Ray Mcdaniel|     M| C5|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 64|Jamarcus Montgomery|     M| C6|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 21|       Charity Dunn|     F| C7|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 4...|
| 47|      Kelsey Brandt|     F| C8|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 30|         Kylee Wang|     F| C9|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 4...|
| 45|         Billy Ross|     M|C10|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 19|   Jairo Fitzgerald|     M|C11|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 64|       Lucian Cohen|     F|C12|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 58|          Rowan Fox|     M|C13|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 33|     Brice Copeland|     M|C14|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 4...|
| 66|     Calvin Carlson|     M|C15|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 22|   Alyvia Mccormick|     F|C16|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 38| Patience Valentine|     F|C17|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 4...|
| 70|     Aubree Holland|     M|C18|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 50|         Ram Prasad|     M|C19|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 59|       Mark Mulldon|     M|C20|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
+---+-------------------+------+---+--------------------+--------------------+--------------------+--------------------+

In [73]:
# Calculate summary statistics using describe()
summary_stats = df.describe()

# Display summary statistics
summary_stats.show()

+-------+------------------+----------------+------+----+
|summary|               Age|        Customer|Gender| _id|
+-------+------------------+----------------+------+----+
|  count|                20|              20|    20|  20|
|   mean|              44.1|            NULL|  NULL|NULL|
| stddev|16.091514599479538|            NULL|  NULL|NULL|
|    min|                19|Alyvia Mccormick|     F|  C1|
|    max|                70|   Yazmin Hughes|     M|  C9|
+-------+------------------+----------------+------+----+

In [74]:
# Fetch data from MongoDB collection
ratings_collection = db.ratings
ratings_data = ratings_collection.find()

# Convert MongoDB data to a list of dictionaries
ratings_data_list = list(ratings_data)

In [75]:
# Convert the list of dictionaries to DataFrame
df2 = spark.createDataFrame(ratings_data_list)

# Show the first few rows of the DataFrame
df2.show()

+----+-----------+-------------------+-----------------+----------+-------------------+------+
| _id|customer_id|         order_date|         order_id|product_id|     published_date|rating|
+----+-----------+-------------------+-----------------+----------+-------------------+------+
| RA1|         C6|2022-10-01 22:44:11| 20221001224411C6|      FP13|2022-10-02 22:44:11|     4|
| RA2|        C20|2022-10-04 16:52:33|20221004165233C20|       FP2|2022-10-05 16:52:33|     1|
| RA3|         C5|2022-10-04 20:32:04| 20221004203204C5|      FP12|2022-10-05 20:32:04|     1|
| RA4|        C17|2022-10-05 03:13:11|20221005031311C17|       FP1|2022-10-06 03:13:11|     1|
| RA5|        C12|2022-10-06 19:37:37|20221006193737C12|       FP3|2022-10-07 19:37:37|     1|
| RA6|         C4|2022-10-01 05:09:39| 20221001050939C4|        B3|2022-10-08 05:09:39|     1|
| RA7|        C19|2022-10-01 10:27:13|20221001102713C19|       CD2|2022-10-08 10:27:13|     4|
| RA8|        C16|2022-10-01 21:40:36|20221001214036C16|       HA6|2022-10-08 21:40:36|     1|
| RA9|         C7|2022-10-01 22:19:01| 20221001221901C7|       CD8|2022-10-08 22:19:01|     1|
|RA10|         C4|2022-10-02 01:03:27| 20221002010327C4|        B5|2022-10-09 01:03:27|     2|
|RA11|         C2|2022-10-02 03:41:49| 20221002034149C2|       CD8|2022-10-09 03:41:49|     3|
|RA12|        C13|2022-10-02 09:17:17|20221002091717C13|        B4|2022-10-09 09:17:17|     4|
|RA13|         C6|2022-10-02 14:37:29| 20221002143729C6|       PH4|2022-10-09 14:37:29|     4|
|RA14|         C9|2022-10-02 15:34:55| 20221002153455C9|       CD3|2022-10-09 15:34:55|     2|
|RA15|        C17|2022-10-02 16:16:55|20221002161655C17|        B8|2022-10-09 16:16:55|     2|
|RA16|        C14|2022-10-02 16:51:22|20221002165122C14|        B7|2022-10-09 16:51:22|     1|
|RA17|        C19|2022-10-09 00:09:19|20221009000919C19|       FP9|2022-10-10 00:09:19|     1|
|RA18|        C12|2022-10-03 19:51:00|20221003195100C12|       HA4|2022-10-10 19:51:00|     3|
|RA19|        C20|2022-10-09 20:25:21|20221009202521C20|       FP4|2022-10-10 20:25:21|     4|
|RA20|        C14|2022-10-10 01:29:46|20221010012946C14|       FP1|2022-10-11 01:29:46|     5|
+----+-----------+-------------------+-----------------+----------+-------------------+------+
only showing top 20 rows

In [76]:
from pyspark.sql.functions import avg

# Calculate the average rating of all products
avg_rating = df2.select(avg("rating")).collect()[0][0]
print("Average Rating:", avg_rating)

Average Rating: 2.9854545454545454

In [77]:
# Identify popular products (top 10 products by rating)
top_10_products = df2.groupBy("product_id").agg(avg("rating").alias("avg_rating")).orderBy("avg_rating", ascending=False).limit(10)
top_10_products.show()

+----------+----------+
|product_id|avg_rating|
+----------+----------+
|        B2|       4.2|
|       CD2|       4.0|
|       HA3|       4.0|
|      CD10|       4.0|
|      FP10|       3.8|
|       HA2|       3.8|
|        B9|       3.8|
|      HA10|       3.8|
|       FP8|       3.8|
|       PH4|       3.6|
+----------+----------+

In [78]:
ids = ['B2', 'CD10', 'HA3', 'CD2', 'B9', 'FP10', 'HA2', 'FP8', 'HA10', 'FP1']
products_collection = db.products
products_data = products_collection.find({'_id': {'$in': ids}}, {'name': 1, '_id': 1, 'category': 1})

products_data_list = list(products_data)

In [79]:
# Convert the list of dictionaries to DataFrame
df3 = spark.createDataFrame(products_data_list)

# Show the first few rows of the DataFrame
df3.show()

+----+--------+--------------------+
| _id|category|                name|
+----+--------+--------------------+
|  B2|       B|          Cold Grave|
|  B9|       B|Thinking, Fast an...|
|CD10|      CD|    Hotel California|
| CD2|      CD|     Led Zepellin IV|
| FP1|   fresh|                Tart|
|FP10|   fresh|             Whiskey|
| FP8|   fresh|                Beer|
|HA10|      HA|LED Starry Sky Pr...|
| HA2|      HA|Eufy by Anker, Bo...|
| HA3|      HA|EasyAcc Coffee Mu...|
+----+--------+--------------------+

In [80]:
# Fetch data from MongoDB collection
suppliers_collection = db.suppliers
suppliers_data = suppliers_collection.find()

# Convert MongoDB data to a list of dictionaries
ratings_data_list = list(suppliers_data)

In [81]:
# Convert the list of dictionaries to DataFrame
df4 = spark.createDataFrame(ratings_data_list)

# Show the first few rows of the DataFrame
df4.show()

+---+--------------------+----------+--------------------+--------------------+---------+--------------------+
|_id|             address|      city|            location|                name|post_code|  realtime_inventory|
+---+--------------------+----------+--------------------+--------------------+---------+--------------------+
| W1|Manchester Airpor...|Manchester|{coordinates -> [...|      Amazon UK MAN1|  M90 5DL|[{quantity -> 14,...|
| W2|Amazon UK Service...|Warrington|{coordinates -> [...|      Amazon UK MAN2|  WA5 3XA|[{quantity -> 9, ...|
| W3|DHL Preston Brook...|   Runcorn|{coordinates -> [...|      Amazom UK XUKA|  WA7 3BN|[{quantity -> 8, ...|
|ST1|    19-25 Piccadilly|Manchester|{coordinates -> [...|Morrisons Piccadilly|   M1 1LU|[{quantity -> 1, ...|
|ST2|Off Grafton St, O...|Manchester|{coordinates -> [...|    Morrisons Oxford|  M13 9NU|[{quantity -> 2, ...|
|ST3|333 Stretford Rd,...|Manchester|{coordinates -> [...| Morrisons Stretford|  M15 4AY|[{quantity -> 5, ...|
|ST4|         22 Ducie St|Manchester|{coordinates -> [...|     Morrisons Ducie|   M1 2DP|[{quantity -> 25,...|
|ST5|Unit 4, Moho Buil...|Manchester|{coordinates -> [...|      Morrisons Boho|  M15 4JY|[{quantity -> 11,...|
|ST6|418B Wilbraham Rd...|Manchester|{coordinates -> [...| Morrisons Wilbraham|  M21 0UA|[{quantity -> 25,...|
+---+--------------------+----------+--------------------+--------------------+---------+--------------------+

In [82]:
from pyspark.sql import functions as F

# Group by city and count the number of suppliers for each city
city_counts = df4.groupBy('city').count()

# Sort the counts in descending order
city_counts_sorted = city_counts.orderBy(F.desc('count'))

# Show the city name and count in descending order
city_counts_sorted.show()

+----------+-----+
|      city|count|
+----------+-----+
|Manchester|    7|
|Warrington|    1|
|   Runcorn|    1|
+----------+-----+

In [83]:
# Count the number of suppliers
suppliers_count = df4.count()

# Print the count of suppliers
print("Number of suppliers:", suppliers_count)

Number of suppliers: 9

In [84]:
# Fetch data from MongoDB collection and select only necessary columns
partners_collection = db.partners
partners_data = partners_collection.find({}, {'name': 1, 'deliveries_made': 1, 'number_of_week': 1})

In [85]:
# Convert MongoDB data to a list of dictionaries
partners_data_list = list(partners_data)

In [86]:
# Convert the list of dictionaries to DataFrame
df_partners = spark.createDataFrame(partners_data_list)

In [87]:
# Show the first few rows of the DataFrame
df_partners.show()

+---+---------------+---------------+--------------+
|_id|deliveries_made|           name|number_of_week|
+---+---------------+---------------+--------------+
|PA1|            150|      Mike Dean|            12|
|PA2|             90|Robert Chaniago|             9|
|PA3|            140|  Hashim Ridwan|             5|
|PA4|            125| Sebastian Kanu|            10|
|PA5|            120|     Alan Smith|            12|
+---+---------------+---------------+--------------+

In [88]:
# Calculate average deliveries made per week
df_partners = df_partners.withColumn('avg_deliveries_per_week', df_partners['deliveries_made'] / df_partners['number_of_week'])

df_partners.show()

+---+---------------+---------------+--------------+-----------------------+
|_id|deliveries_made|           name|number_of_week|avg_deliveries_per_week|
+---+---------------+---------------+--------------+-----------------------+
|PA1|            150|      Mike Dean|            12|                   12.5|
|PA2|             90|Robert Chaniago|             9|                   10.0|
|PA3|            140|  Hashim Ridwan|             5|                   28.0|
|PA4|            125| Sebastian Kanu|            10|                   12.5|
|PA5|            120|     Alan Smith|            12|                   10.0|
+---+---------------+---------------+--------------+-----------------------+

In [89]:
# Find the partner with the highest average deliveries per week
max_avg_deliveries_per_week = df_partners.groupBy().agg({'avg_deliveries_per_week': 'max'}).collect()[0][0]

In [90]:
# Filter the DataFrame to find the partner(s) with the highest average deliveries per week
partners_with_max_avg_deliveries = df_partners.filter(df_partners['avg_deliveries_per_week'] == max_avg_deliveries_per_week).select('name')

In [91]:
# Show the result
partners_with_max_avg_deliveries.show()

+-------------+
|         name|
+-------------+
|Hashim Ridwan|
+-------------+

In [92]:
# Fetch data from MongoDB collection
past_orders_collection = db.pastOrders
past_orders_data = past_orders_collection.find()

# Convert MongoDB data to a list of dictionaries
past_orders_data_list = list(past_orders_data)

In [93]:
from pyspark.sql import SparkSession
import pandas as pd

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("PastOrdersAnalysis") \
    .getOrCreate()

# Convert the list of dictionaries to DataFrame
df6 = spark.createDataFrame(pd.DataFrame(past_orders_data_list))

# Show the first few rows of the DataFrame
df6.show()

+-----------------+-------------------+-----------+--------------------+----------+----------+-----------+-----------+------------+
|              _id|         order_date|customer_id|       order_details|total_cost|partner_id|shipping_id|supplier_id|order_status|
+-----------------+-------------------+-----------+--------------------+----------+----------+-----------+-----------+------------+
| 20221001050939C4|2022-10-01 05:09:00|         C4|[{cost -> 3.2, qu...|       6.4|       PA1|        AD4|         W2|           5|
|20221001102713C19|2022-10-01 10:27:00|        C19|[{cost -> 16.99, ...|     50.97|       PA4|       AD21|         W2|           5|
|20221001214036C16|2022-10-01 21:40:00|        C16|[{cost -> 200, qu...|    1000.0|       PA3|       AD17|         W3|           5|
| 20221001221901C7|2022-10-01 22:19:00|         C7|[{cost -> 329.39,...|   1317.56|       PA1|        AD7|         W1|           5|
| 20221001224411C6|2022-10-01 22:44:00|         C6|[{cost -> 849, qu...|     849.0|       PA5|        AD6|        ST3|           5|
| 20221002010327C4|2022-10-02 01:03:00|         C4|[{cost -> 4, quan...|      20.0|       PA5|        AD4|         W2|           5|
| 20221002034149C2|2022-10-02 03:41:00|         C2|[{cost -> 2.8, qu...|       5.6|       PA3|        AD2|         W1|           5|
|20221002091717C13|2022-10-02 09:17:00|        C13|[{cost -> 21.97, ...|     43.94|       PA2|       AD13|         W2|           5|
| 20221002143729C6|2022-10-02 14:37:00|         C6|[{cost -> 37.04, ...|    111.12|       PA2|        AD6|         W2|           5|
| 20221002153455C9|2022-10-02 15:34:00|         C9|[{cost -> 3, quan...|      15.0|       PA4|        AD9|         W2|           5|
|20221002161655C17|2022-10-02 16:16:00|        C17|[{cost -> 190.85,...|    190.85|       PA4|       AD18|         W2|           5|
|20221002165122C14|2022-10-02 16:51:00|        C14|[{cost -> 16.58, ...|     49.74|       PA3|       AD15|         W1|           5|
|20221003195100C12|2022-10-03 19:51:00|        C12|[{cost -> 13.5, q...|      40.5|       PA2|       AD12|         W2|           5|
|20221004092039C11|2022-10-04 09:20:00|        C11|[{cost -> 58.07, ...|    232.28|       PA5|       AD11|         W1|           5|
|20221004100456C17|2022-10-04 10:04:00|        C17|[{cost -> 13.5, q...|      40.5|       PA4|       AD18|         W2|           5|
|20221004152651C12|2022-10-04 15:26:00|        C12|[{cost -> 9.99, q...|     29.97|       PA4|       AD12|         W2|           5|
|20221004165233C20|2022-10-04 16:52:00|        C20|[{cost -> 849, qu...|    2547.0|       PA2|       AD22|        ST1|           5|
| 20221004203204C5|2022-10-04 20:32:00|         C5|[{cost -> 2, quan...|       4.0|       PA3|        AD5|        ST5|           5|
|20221005031311C17|2022-10-05 03:13:00|        C17|[{cost -> 769, qu...|    3076.0|       PA2|       AD18|        ST2|           5|
|20221005204812C19|2022-10-05 20:48:00|        C19|[{cost -> 16.58, ...|      82.9|       PA2|       AD21|         W3|           5|
+-----------------+-------------------+-----------+--------------------+----------+----------+-----------+-----------+------------+
only showing top 20 rows

24/05/14 20:36:07 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [94]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, month, quarter

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("PastOrdersAnalysis") \
    .getOrCreate()

# Fetch data from MongoDB collection
past_orders_collection = db.pastOrders
past_orders_data = past_orders_collection.find()

In [95]:
import pandas as pd

# Convert MongoDB data to a list of dictionaries
past_orders_data_list = list(past_orders_data)

# Convert the list of dictionaries to DataFrame
df = spark.createDataFrame(pd.DataFrame(past_orders_data_list))

# Show the first few rows of the DataFrame
df.show()

+-----------------+-------------------+-----------+--------------------+----------+----------+-----------+-----------+------------+
|              _id|         order_date|customer_id|       order_details|total_cost|partner_id|shipping_id|supplier_id|order_status|
+-----------------+-------------------+-----------+--------------------+----------+----------+-----------+-----------+------------+
| 20221001050939C4|2022-10-01 05:09:00|         C4|[{cost -> 3.2, qu...|       6.4|       PA1|        AD4|         W2|           5|
|20221001102713C19|2022-10-01 10:27:00|        C19|[{cost -> 16.99, ...|     50.97|       PA4|       AD21|         W2|           5|
|20221001214036C16|2022-10-01 21:40:00|        C16|[{cost -> 200, qu...|    1000.0|       PA3|       AD17|         W3|           5|
| 20221001221901C7|2022-10-01 22:19:00|         C7|[{cost -> 329.39,...|   1317.56|       PA1|        AD7|         W1|           5|
| 20221001224411C6|2022-10-01 22:44:00|         C6|[{cost -> 849, qu...|     849.0|       PA5|        AD6|        ST3|           5|
| 20221002010327C4|2022-10-02 01:03:00|         C4|[{cost -> 4, quan...|      20.0|       PA5|        AD4|         W2|           5|
| 20221002034149C2|2022-10-02 03:41:00|         C2|[{cost -> 2.8, qu...|       5.6|       PA3|        AD2|         W1|           5|
|20221002091717C13|2022-10-02 09:17:00|        C13|[{cost -> 21.97, ...|     43.94|       PA2|       AD13|         W2|           5|
| 20221002143729C6|2022-10-02 14:37:00|         C6|[{cost -> 37.04, ...|    111.12|       PA2|        AD6|         W2|           5|
| 20221002153455C9|2022-10-02 15:34:00|         C9|[{cost -> 3, quan...|      15.0|       PA4|        AD9|         W2|           5|
|20221002161655C17|2022-10-02 16:16:00|        C17|[{cost -> 190.85,...|    190.85|       PA4|       AD18|         W2|           5|
|20221002165122C14|2022-10-02 16:51:00|        C14|[{cost -> 16.58, ...|     49.74|       PA3|       AD15|         W1|           5|
|20221003195100C12|2022-10-03 19:51:00|        C12|[{cost -> 13.5, q...|      40.5|       PA2|       AD12|         W2|           5|
|20221004092039C11|2022-10-04 09:20:00|        C11|[{cost -> 58.07, ...|    232.28|       PA5|       AD11|         W1|           5|
|20221004100456C17|2022-10-04 10:04:00|        C17|[{cost -> 13.5, q...|      40.5|       PA4|       AD18|         W2|           5|
|20221004152651C12|2022-10-04 15:26:00|        C12|[{cost -> 9.99, q...|     29.97|       PA4|       AD12|         W2|           5|
|20221004165233C20|2022-10-04 16:52:00|        C20|[{cost -> 849, qu...|    2547.0|       PA2|       AD22|        ST1|           5|
| 20221004203204C5|2022-10-04 20:32:00|         C5|[{cost -> 2, quan...|       4.0|       PA3|        AD5|        ST5|           5|
|20221005031311C17|2022-10-05 03:13:00|        C17|[{cost -> 769, qu...|    3076.0|       PA2|       AD18|        ST2|           5|
|20221005204812C19|2022-10-05 20:48:00|        C19|[{cost -> 16.58, ...|      82.9|       PA2|       AD21|         W3|           5|
+-----------------+-------------------+-----------+--------------------+----------+----------+-----------+-----------+------------+
only showing top 20 rows

In [96]:
# Convert order_date to date format
df = df.withColumn("order_date", to_date(col("order_date")))

# Extract month and quarter from order_date
df = df.withColumn("month", month(col("order_date")))
df = df.withColumn("quarter", quarter(col("order_date")))

In [97]:
# Aggregate data based on month and quarter, and calculate total sales
monthly_sales = df.groupBy("month").sum("total_cost").orderBy("month")

In [98]:
# Show the results
print("Monthly sales:")
monthly_sales.show()

Monthly sales:
+-----+------------------+
|month|   sum(total_cost)|
+-----+------------------+
|   10|38158.579999999994|
|   11|          53767.09|
+-----+------------------+

In [99]:
quarterly_sales = df.groupBy("quarter").sum("total_cost").orderBy("quarter")

In [100]:
print("Quarterly sales:")
quarterly_sales.show()

Quarterly sales:
+-------+---------------+
|quarter|sum(total_cost)|
+-------+---------------+
|      4|       91925.67|
+-------+---------------+

In [101]:
# Calculate average sales per month and quarter
monthly_avg_sales = df.groupBy("month").avg("total_cost").orderBy("month")
quarterly_avg_sales = df.groupBy("quarter").avg("total_cost").orderBy("quarter")

# Show the results
print("Monthly average sales:")
monthly_avg_sales.show()

print("Quarterly average sales:")
quarterly_avg_sales.show()

Monthly average sales:
+-----+------------------+
|month|   avg(total_cost)|
+-----+------------------+
|   10|282.65614814814813|
|   11| 384.0506428571428|
+-----+------------------+

Quarterly average sales:
+-------+------------------+
|quarter|   avg(total_cost)|
+-------+------------------+
|      4|334.27516363636363|
+-------+------------------+

In [102]:
# Find dates with maximum and minimum total sales
max_sales_date = df.groupBy().agg({"total_cost": "max"}).collect()[0][0]
min_sales_date = df.groupBy().agg({"total_cost": "min"}).collect()[0][0]

# Show the results
print("Date with Maximum Sales:", max_sales_date)
print("Date with Minimum Sales:", min_sales_date)

Date with Maximum Sales: 4245.0
Date with Minimum Sales: 2.0