In [23]:
import pandas as pd
from pymongo import MongoClient

# MongoDB connection string
connection_string = "mongodb+srv://ReapredatoR:tkSXV9yiREji1Kcn@mongodbprojectmalinga.8viv4al.mongodb.net/?retryWrites=true&w=majority&appName=MongoDBprojectMalinga"
# Create a MongoClient object

client = MongoClient(connection_string)
db = client["Amazon_Database"]

In [24]:
# Fetch data from MongoDB collection
customers_collection = db.customers
customers_data = customers_collection.find()

# Convert MongoDB data to a list of dictionaries
data_list = list(customers_data)

In [25]:
# Import necessary libraries
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder \
    .appName("MongoDB Analysis") \
    .getOrCreate()

# Convert the list of dictionaries to DataFrame
df = spark.createDataFrame(data_list)

# Show the first few rows of the DataFrame
df.show()

+---+-------------------+------+---+--------------------+--------------------+--------------------+--------------------+
|Age|           Customer|Gender|_id|           addresses|      current_orders|        phone_number|recommended_products|
+---+-------------------+------+---+--------------------+--------------------+--------------------+--------------------+
| 51|     Gunner Ferrell|     M| C1|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 21|       Charity Dunn|     F| C7|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 4...|
| 30|         Kylee Wang|     F| C9|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 4...|
| 58|          Rowan Fox|     M|C13|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 33|     Brice Copeland|     M|C14|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 4...|
| 43|      Yazmin Hughes|     F| C4|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 22|   Alyvia Mccormick|     F|C16|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 47|      Kelsey Brandt|     F| C8|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 28|       Ray Mcdaniel|     M| C5|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 64|       Lucian Cohen|     F|C12|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 50|         Ram Prasad|     M|C19|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 30|       Lillie Costa|     F| C2|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 66|     Calvin Carlson|     M|C15|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 38| Patience Valentine|     F|C17|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 4...|
| 44|     Raelynn Dodson|     F| C3|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 19|   Jairo Fitzgerald|     M|C11|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 59|       Mark Mulldon|     M|C20|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 70|     Aubree Holland|     M|C18|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 45|         Billy Ross|     M|C10|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
| 64|Jamarcus Montgomery|     M| C6|[{location -> {co...|[{shipping_id -> ...|{$numberLong -> 4...|[{avg_rating -> 3...|
+---+-------------------+------+---+--------------------+--------------------+--------------------+--------------------+

In [26]:
# Calculate summary statistics using describe()
summary_stats = df.describe()

# Display summary statistics
summary_stats.show()

+-------+------------------+----------------+------+----+
|summary|               Age|        Customer|Gender| _id|
+-------+------------------+----------------+------+----+
|  count|                20|              20|    20|  20|
|   mean|              44.1|            NULL|  NULL|NULL|
| stddev|16.091514599479538|            NULL|  NULL|NULL|
|    min|                19|Alyvia Mccormick|     F|  C1|
|    max|                70|   Yazmin Hughes|     M|  C9|
+-------+------------------+----------------+------+----+

In [27]:
# Fetch data from MongoDB collection
ratings_collection = db.ratings
ratings_data = ratings_collection.find()

# Convert MongoDB data to a list of dictionaries
ratings_data_list = list(ratings_data)

In [28]:
# Convert the list of dictionaries to DataFrame
df2 = spark.createDataFrame(ratings_data_list)

# Show the first few rows of the DataFrame
df2.show()

+-----+-----------+-------------------+-----------------+----------+-------------------+------+
|  _id|customer_id|         order_date|         order_id|product_id|     published_date|rating|
+-----+-----------+-------------------+-----------------+----------+-------------------+------+
|  RA1|         C6|2022-10-01 22:44:11| 20221001224411C6|      FP13|2022-10-02 22:44:11|     4|
| RA12|        C13|2022-10-02 09:17:17|20221002091717C13|        B4|2022-10-09 09:17:17|     4|
| RA14|         C9|2022-10-02 15:34:55| 20221002153455C9|       CD3|2022-10-09 15:34:55|     2|
| RA15|        C17|2022-10-02 16:16:55|20221002161655C17|        B8|2022-10-09 16:16:55|     2|
| RA18|        C12|2022-10-03 19:51:00|20221003195100C12|       HA4|2022-10-10 19:51:00|     3|
| RA27|        C19|2022-10-05 20:48:12|20221005204812C19|       CD6|2022-10-12 20:48:12|     4|
| RA30|        C15|2022-10-06 19:21:29|20221006192129C15|       CD5|2022-10-13 19:21:29|     5|
| RA33|         C3|2022-10-07 08:36:31| 20221007083631C3|       CD7|2022-10-14 08:36:31|     2|
| RA34|         C3|2022-10-13 09:04:00| 20221013090400C3|      FP13|2022-10-14 09:04:00|     5|
| RA40|         C6|2022-10-15 03:01:09| 20221015030109C6|       FP4|2022-10-16 03:01:09|     1|
| RA53|        C20|2022-10-12 05:53:41|20221012055341C20|       PH2|2022-10-19 05:53:41|     5|
| RA59|         C8|2022-10-13 05:29:26| 20221013052926C8|       PH9|2022-10-20 05:29:26|     5|
| RA76|        C10|2022-10-17 04:27:37|20221017042737C10|       HA7|2022-10-24 04:27:37|     1|
| RA77|         C4|2022-10-17 09:15:07| 20221017091507C4|        B5|2022-10-24 09:15:07|     5|
| RA81|         C8|2022-10-18 10:20:42| 20221018102042C8|       CD6|2022-10-25 10:20:42|     4|
| RA86|        C16|2022-10-19 21:10:01|20221019211001C16|       CD9|2022-10-26 21:10:01|     4|
| RA96|         C7|2022-10-22 01:00:10| 20221022010010C7|       HA3|2022-10-29 01:00:10|     4|
| RA97|         C9|2022-10-22 06:31:20| 20221022063120C9|        B2|2022-10-29 06:31:20|     4|
|RA106|         C2|2022-10-30 02:46:50| 20221030024650C2|      FP11|2022-10-31 02:46:50|     2|
| RA13|         C6|2022-10-02 14:37:29| 20221002143729C6|       PH4|2022-10-09 14:37:29|     4|
+-----+-----------+-------------------+-----------------+----------+-------------------+------+
only showing top 20 rows

In [29]:
from pyspark.sql.functions import avg

# Calculate the average rating of all products
avg_rating = df2.select(avg("rating")).collect()[0][0]
print("Average Rating:", avg_rating)

Average Rating: 2.9854545454545454

In [30]:
# Identify popular products (top 10 products by rating)
top_10_products = df2.groupBy("product_id").agg(avg("rating").alias("avg_rating")).orderBy("avg_rating", ascending=False).limit(10)
top_10_products.show()

+----------+----------+
|product_id|avg_rating|
+----------+----------+
|        B2|       4.2|
|      CD10|       4.0|
|       HA3|       4.0|
|       CD2|       4.0|
|        B9|       3.8|
|      FP10|       3.8|
|       HA2|       3.8|
|       FP8|       3.8|
|      HA10|       3.8|
|       FP1|       3.6|
+----------+----------+

In [31]:
ids = ['B2', 'CD10', 'HA3', 'CD2', 'B9', 'FP10', 'HA2', 'FP8', 'HA10', 'FP1']
products_collection = db.products
products_data = products_collection.find({'_id': {'$in': ids}}, {'name': 1, '_id': 1, 'category': 1})

products_data_list = list(products_data)

In [32]:
# Convert the list of dictionaries to DataFrame
df3 = spark.createDataFrame(products_data_list)

# Show the first few rows of the DataFrame
df3.show()

+----+--------+--------------------+
| _id|category|                name|
+----+--------+--------------------+
|  B2|       B|          Cold Grave|
|  B9|       B|Thinking, Fast an...|
|CD10|      CD|    Hotel California|
| CD2|      CD|     Led Zepellin IV|
| FP1|   fresh|                Tart|
|FP10|   fresh|             Whiskey|
| FP8|   fresh|                Beer|
|HA10|      HA|LED Starry Sky Pr...|
| HA2|      HA|Eufy by Anker, Bo...|
| HA3|      HA|EasyAcc Coffee Mu...|
+----+--------+--------------------+

In [33]:
# Fetch data from MongoDB collection
suppliers_collection = db.suppliers
suppliers_data = suppliers_collection.find()

# Convert MongoDB data to a list of dictionaries
ratings_data_list = list(suppliers_data)

In [34]:
# Convert the list of dictionaries to DataFrame
df4 = spark.createDataFrame(ratings_data_list)

# Show the first few rows of the DataFrame
df4.show()

+---+--------------------+----------+--------------------+--------------------+---------+--------------------+
|_id|             address|      city|            location|                name|post_code|  realtime_inventory|
+---+--------------------+----------+--------------------+--------------------+---------+--------------------+
| W1|Manchester Airpor...|Manchester|{coordinates -> [...|      Amazon UK MAN1|  M90 5DL|[{quantity -> 14,...|
|ST1|    19-25 Piccadilly|Manchester|{coordinates -> [...|Morrisons Piccadilly|   M1 1LU|[{quantity -> 1, ...|
| W2|Amazon UK Service...|Warrington|{coordinates -> [...|      Amazon UK MAN2|  WA5 3XA|[{quantity -> 9, ...|
| W3|DHL Preston Brook...|   Runcorn|{coordinates -> [...|      Amazom UK XUKA|  WA7 3BN|[{quantity -> 8, ...|
|ST4|         22 Ducie St|Manchester|{coordinates -> [...|     Morrisons Ducie|   M1 2DP|[{quantity -> 25,...|
|ST5|Unit 4, Moho Buil...|Manchester|{coordinates -> [...|      Morrisons Boho|  M15 4JY|[{quantity -> 11,...|
|ST3|333 Stretford Rd,...|Manchester|{coordinates -> [...| Morrisons Stretford|  M15 4AY|[{quantity -> 5, ...|
|ST6|418B Wilbraham Rd...|Manchester|{coordinates -> [...| Morrisons Wilbraham|  M21 0UA|[{quantity -> 25,...|
|ST2|Off Grafton St, O...|Manchester|{coordinates -> [...|    Morrisons Oxford|  M13 9NU|[{quantity -> 2, ...|
+---+--------------------+----------+--------------------+--------------------+---------+--------------------+

In [35]:
from pyspark.sql import functions as F

# Group by city and count the number of suppliers for each city
city_counts = df4.groupBy('city').count()

# Sort the counts in descending order
city_counts_sorted = city_counts.orderBy(F.desc('count'))

# Show the city name and count in descending order
city_counts_sorted.show()

+----------+-----+
|      city|count|
+----------+-----+
|Manchester|    7|
|Warrington|    1|
|   Runcorn|    1|
+----------+-----+

In [36]:
# Count the number of suppliers
suppliers_count = df4.count()

# Print the count of suppliers
print("Number of suppliers:", suppliers_count)

Number of suppliers: 9

In [37]:
# Fetch data from MongoDB collection and select only necessary columns
partners_collection = db.partners
partners_data = partners_collection.find({}, {'name': 1, 'deliveries_made': 1, 'number_of_week': 1})

In [38]:
# Convert MongoDB data to a list of dictionaries
partners_data_list = list(partners_data)

In [39]:
# Convert the list of dictionaries to DataFrame
df_partners = spark.createDataFrame(partners_data_list)

In [40]:
# Show the first few rows of the DataFrame
df_partners.show()

+---+---------------+---------------+--------------+
|_id|deliveries_made|           name|number_of_week|
+---+---------------+---------------+--------------+
|PA3|            140|  Hashim Ridwan|             5|
|PA1|            150|      Mike Dean|            12|
|PA2|             90|Robert Chaniago|             9|
|PA4|            125| Sebastian Kanu|            10|
|PA5|            120|     Alan Smith|            12|
+---+---------------+---------------+--------------+

In [41]:
# Calculate average deliveries made per week
df_partners = df_partners.withColumn('avg_deliveries_per_week', df_partners['deliveries_made'] / df_partners['number_of_week'])

df_partners.show()

+---+---------------+---------------+--------------+-----------------------+
|_id|deliveries_made|           name|number_of_week|avg_deliveries_per_week|
+---+---------------+---------------+--------------+-----------------------+
|PA3|            140|  Hashim Ridwan|             5|                   28.0|
|PA1|            150|      Mike Dean|            12|                   12.5|
|PA2|             90|Robert Chaniago|             9|                   10.0|
|PA4|            125| Sebastian Kanu|            10|                   12.5|
|PA5|            120|     Alan Smith|            12|                   10.0|
+---+---------------+---------------+--------------+-----------------------+

In [42]:
# Find the partner with the highest average deliveries per week
max_avg_deliveries_per_week = df_partners.groupBy().agg({'avg_deliveries_per_week': 'max'}).collect()[0][0]

In [43]:
# Filter the DataFrame to find the partner(s) with the highest average deliveries per week
partners_with_max_avg_deliveries = df_partners.filter(df_partners['avg_deliveries_per_week'] == max_avg_deliveries_per_week).select('name')

In [44]:
# Show the result
partners_with_max_avg_deliveries.show()

+-------------+
|         name|
+-------------+
|Hashim Ridwan|
+-------------+